spglib~=1.15.1
matplotlib~=3.2.1
scipy
tabulate~=0.8.7
pymatgen~=2020.7.18
monty~=3.0.2
palettable
seekpath~=2.0.1
numpy~=1.18.4
PyYAML~=5.1.2
pytest-mock
num2words~=0.5.10
pytest~=5.4.3
fire~=0.3.1
setuptools~=40.8.0