tabulate==0.8.6
pydefect_yuuukuma.egg==info
spglib==1.14.1.post0
custodian==2019.9.23
monty==3.0.2
numpy==1.17.4
palettable==3.3.0
matplotlib==3.1.1
seekpath==1.9.3
scipy==1.3.3
pymatgen==2019.11.11
PyYAML==5.3
